*.cmd
.idea
dist/
cmake-build-debug
*.ps1
*.log
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
build/
todo/
back/
*.iso
/build_debug/
ewdk.exe
todo/
/qt6-static/
/qt_static/
qt-6.11.0-static-windows.zip